
*{
    margin:0;
    padding:0 ;
}
nav{
    background-color:white;;
    height:60px;
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    /* position: fixed;
    top:0;
    z-index: 1000; */
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul  a{
    text-decoration: none;
    font-size:17px;
    margin:0px 15px 0px;
    color:black;
    font-weight: bolder;

}
i{
    margin: 10px;
}